<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button
          class="nav-link " 
          [class.active]="userActiveTab"
          id="nav-user-tab"
          data-bs-toggle="tab"
          data-bs-target="#nav-user"
          type="button"
          role="tab"
          aria-controls="nav-user"
          aria-selected="userActiveTab"
          (click)="clickTab('user')"
        >
          User
        </button>
        <button
          class="nav-link "
          [class.active]="workspaceActiveTab"
          id="nav-workspace-tab"
          data-bs-toggle="tab"
          data-bs-target="#nav-workspace"
          type="button"
          role="tab"
          aria-controls="nav-workspace"
          aria-selected="workspaceActiveTab"
          (click)="clickTab('workspace')"
        >
          Workspace
        </button>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div
        class="tab-pane fade  "
        [class.active]="userActiveTab"
        [class.show]="userActiveTab"
        id="nav-user"
        role="tabpanel"
        aria-labelledby="nav-user-tab"
      >
      <app-template></app-template>
      </div>
      <div
        class="tab-pane fade"
        [class.active]="workspaceActiveTab"
        [class.show]="workspaceActiveTab"
        id="nav-workspace"
        role="tabpanel"
        aria-labelledby="nav-workspace-tab"
      >
        <app-template></app-template>
        
      </div>
    </div>
  </div>
  
</body>
</html>